﻿body{
    margin: 0;
}

#game_div {
    height: 100vh;
    width: 100vw;
}

input {
    position: absolute;
    font: 18px courier;
    color: #00FFFF;
    background-color: #182142;
    border: 2px solid #3E81FF;
}